/* css reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


html {
    height: 100%;
    font-family: Palatino, "Palatino Linotype", serif;
    overflow: auto;
    font-size: 24px;
}

body {
    height: 100%;
    background-color: rgba(140, 170, 148,.5);
    font-size: 24px;
}

@-moz-document url-prefix() {
    html, body {
        font-size: 28px;
    }
}

a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.sections {
    width: 100%;
    padding: 100px 0;
}

.headings {
    letter-spacing: 4px;
}

.main-headings {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 30px 0;
    font-weight: bold;
}

.alternate-sections {
    background-color: rgba(1,1,1,.05)
}

h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: normal;
    line-height: 100px;
    padding: 15px;
    font-size: 2em;
    text-align: center;
    background-color: rgba(0,0,0,.9);
    color: white;
}

h2 {
    font-weight: normal;
    font-size: 2em;
}

h3 {
    text-align: center;
    margin: 15px;
    font-weight: bold;
    font-size: 1.3em;
}

/* Navigation Bar */
nav ul {
    height: 400px;
    position: fixed;
    top: 25%;
    left: 2%;
    background-color: rgba(0,0,0,.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    overflow: hidden;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

nav ul li:hover {
    background-color: rgba(0,0,0,.7)
}

.active {
    background-color: rgba(0,0,0,.9);
}

.nav-link, .nav-link:link, .nav-link:visited {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

/* Main Content */

#wrapper {
    width: 100%;
}

#container {
    margin: 0 15%;
    margin-top: 130px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* added so navigation anchor isn't covered by header */
.section-container {
    margin-top: -260px;
    padding-top: 260px;
}

#projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: dotted;
}

.img-container {
    flex: 1;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.description-container {
    flex: 1;
    margin: 60px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.github-link {
    font-size: .8em;
}

a:visited {
   color: inherit; 
}

.description-container > ul {
    font-family: 'Open Sans', 'Droid Sans', Arial, sans-serif;
    font-size: .85em;
}

.description-container li {
    margin: 10px 0;
}

img {
    /* make img's shrink with window size */
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    /**/
    box-shadow: 4px 3px 8px;
    color: gray;
}

.tags {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

.tags > li {
    margin: 0 4px;
    margin-top: inherit;
    padding: 4px;
    font-size: .8em;
    border: solid;
    border-radius: 8px;
    border-width: thin;
    background-color: rgba(10,10,240, .1);
}

#more-projects-container {
    width: 80%;
    margin: 50px;
}

#more-projects {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
}

#more-projects a {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#more-projects .github-link i {
    margin-right: 5px;
}


h4 {
    margin-top: 10px;
}

#skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skills {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', 'Droid Sans', Arial, sans-serif;
    list-style: square;
}

.skills > li {
    display: list-item;
    margin: 5px 80px;
}

#about-container {
    padding-left: 200px;
    padding-right: 200px;
    line-height: 1.8em;
}

#about-container a:hover {
    color: #3D9970;
}

#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(10,10,10,.05);
}

#email-address:hover {
   cursor: pointer; 
}

#email-address {
    display: block;
    position: relative;
}

.tooltiptext {
  visibility: hidden;
  font-size: .85em;
  width: 220px;
  background-color: black;
  padding: 2px 5px;
  color: white;
  text-align: center;
  border-radius: 7px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -100px;
  z-index: 1;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.sliding-middle-out::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

.sliding-middle-out:hover::after {
    width: 100%;
    background-color: black;
}

/* responsive to mobile */

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media only screen and (max-width: 640px) {
  #container {
      margin: 0;
      margin-top: 130px;
      align-items: space-between;
      width: 100%;
  }

  nav {
      visibility: hidden;
  }

  #projects-container {
    width: 100%;
  }

  #more-projects-container {
    width: 100%;
  }
  #more-projects {
    width: 100%;
  }
  #skills-container {
    width: 100%;
  }
  #experience-container {
    width: 100%;
  }
  #about-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
