@import "./node_modules/bootstrap/scss/bootstrap";

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
html,
body {
  overflow: auto;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}
body {
  padding-top: 50px;
  color: #2b2b2b;
  //raccoon backhttps://github.com/ericmailr/Minewalker
  /*background: linear-gradient(-180deg, #bcc1ce 0%, #929ead 98%),
    radial-gradient(
      at bottom left,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: screen;*/
  background-color: rgb(112, 128, 144);
  min-height: 100%;
}

.secondary-font a {
  text-decoration: none;
  color: rgba(43, 43, 43, 0.8);
}

a {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

a:hover {
  color: rgb(43, 43, 43);
}

.skills {
  list-style-type: none;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(43, 43, 43, 0.8);
  padding: 20px;
  background-color: rgba(146, 158, 173, 0.5);
}

.skills li i {
  padding-right: 0.5rem;
}

.skills li {
  text-indent: -0.85rem;
  padding-left: 1rem;
}

strong {
  color: #fbfbfb;
  font-weight: normal;
  white-space: nowrap;
}

.card {
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(43, 43, 43, 0.8);
}

.section-heading {
  margin-bottom: 30px;
  font-size: 1.8rem;
}

h1 {
  padding: 5px;
  border-radius: 4px;
  font-size: 4rem;
}

.navbar-custom {
  background-color: #2b2b2b;
  box-shadow: 1px 1px 1px 1px rgba(143, 158, 173, 0.99);
}

.navbar-text:hover {
  color: white;
}

.navbar-text {
  color: #fbfbfb;
}

.navbar li {
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
}

.container-fluid {
  padding: 0;
}

.bi-caret-right-fill {
  color: rgb(100, 119, 137);
}

#projects {
  margin-top: -80px;
  padding-top: 80px;
}

.projects-container {
  width: 70vw;
}

#contact {
  background-color: #2b2b2b;
  color: #fbfbfb;
}

#contact a {
  color: #fbfbfb;
}

#contact .middle-container {
  width: 70vw;
}

@include media-breakpoint-down(sm) {
  html,
  body {
    font-size: 12px;
  }
  .skills {
    width: 80vw;
  }
  .subprojects-container {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .projects-container {
    width: 98vw;
  }
  #contact .middle-container {
    width: 100vw;
    font-size: 0.9rem;
  }
  .contact-container {
    flex-direction: column;
    justify-content: space-between;
  }
}
@include media-breakpoint-down(md) {
  html,
  body {
    font-size: 12px;
  }
  .skills {
    width: 80vw;
  }
  .subprojects-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #contact .middle-container {
    width: 100vw;
    font-size: 0.9rem;
  }
  .contact-container {
    flex-direction: column;
    justify-content: space-between;
  }
}

@include media-breakpoint-down(lg) {
  html,
  body {
    font-size: 16px;
  }

  .subprojects-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .contact-container {
    flex-direction: column;
    justify-content: space-between;
  }
}
@include media-breakpoint-up(xl) {
}
